<template>

    <div class="greetings">
        <div class="conteinerHome">
            <hr>
            <h1>¡Bienvenido  <span> {{username}} </span>!</h1>
            <hr>
            <h4>Ingresa información a la base de datos:</h4>
            <button v-on:click="loadVehiculoCreate"> Registra un nuevo Vehículo </button><br>
            <button v-on:click="loadRutaCreate"> Registra una nueva Ruta </button><br>
            <button v-on:click="loadPortafolioCreate"> Registra un nuevo Destino </button><br>
            <button v-on:click="loadReservacionCreate"> Realiza una Reservación </button><br>
        </div>    
    </div>

</template>


<script>

export default {
    name: "Home",

    data: function(){
        return {
            username: localStorage.getItem('username') || "none"
        }
    },

    methods: {

        loadVehiculoCreate: function () {
			this.$router.push({ name: "vehiculoCreate" });
		},

        loadRutaCreate: function () {
			this.$router.push({ name: "rutaCreate" });
		},

        loadPortafolioCreate: function () {
			this.$router.push({ name: "portafolioCreate" });
		},

        loadReservacionCreate: function () {
			this.$router.push({ name: "reservacionCreate" });
		}
    }
}

</script>


<style>
    .greetings{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerHome {
        width: 60%;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .greetings h1{
        font-size: 50px;
        color: #283747;
    }

    .greetings span{
        color: crimson;
        font-weight: bold;
    }

    .greetings button{
        width: 100%;
        height: 40px;

        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;
        float: left;

        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0;
        cursor: pointer;
    }

    .greetings button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }
</style>