<template>
    <div class="portafolio_create">
        
        <div class="container_portafolio_create">
            <h1>Registro de oferta</h1>
            <form v-on:submit.prevent="processPortafolio">

                <label for="Origen">Origen del viaje:</label><br>
                <input type="text" v-model="portafolio.lugarOrigen" placeholder="Origen" required><br>
                
                <label for="Destino">Destino del viaje:</label><br>
                <input type="text" v-model="portafolio.lugarDestino"  placeholder="Destino" required><br>

                <label for="Precio">valor:</label><br>
                <input type="number" v-model="portafolio.precio"  placeholder="Precio" min="25000" required><br><br>
               
                <button type="submit">Registrar</button>
                <button type="reset">Vaciar</button>

            </form>
        </div>
    </div>
</template>


<script>
    import axios from 'axios';
        export default{
            name : "portafolio",

            data: function(){
                return{
                    portafolio: {
                        id: 0,
                        lugarOrigen:"",
                        lugarDestino: "",
                        precio: 0,
                    },
                }
            },

            methods:{
                processPortafolio :function(){
                   axios.post(
                    "https://mtic-transp-be.herokuapp.com/newPortafolio/", 
                    this.portafolio,
                    {Headers:{}}
                   )
                   .then((result) =>{
                       let dataPortafolio={
                           id: this.portafolio.id,
                           lugarOrigen: this.portafolio.lugarOrigen,
                           lugarDestino : this.portafolio.lugarDestino,
                           precio: this.portafolio.precio,
                       }
                       this.$emit('completedPortafolio', dataPortafolio)
                    })
                        alert("Registro Completado");
                    
                }
            }

        }
</script>


<style>

   .portafolio_create{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_portafolio_create {
        border: 3px solid #283747;
        border-radius: 10px;
        width: 50%;
        height: 52%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .portafolio_create h1{
        color: #283747;
     }

    .portafolio_create form{
        width: 60%;
    }

    .portafolio_create input[type=text]{
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #283747;
    }

    .portafolio_create input[type=number]{
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #283747;
    }
    
    .portafolio_create button{
        width: 50%;
        height: 40px;
        color: #E5E7E9;
        background: #283747;
        border: 2px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
        
    }
    .portafolio_create button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }
</style>