<template>    
    <div class="portafolio_detail">
        <div class="container_portafolio_detail">
            <h1> Pasajes de Bus </h1>
            <button v-on:click="loadPortafolioCreate"> Nueva Oferta </button><br>
            <table>
                <caption> Opciones para viajar, precios actualizados: </caption>
                
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(portafolio, Portafolios) in portafolio" :key="Portafolios">
                        <td v.number="portafolio.id"></td>
                        <td v.text="portafolio.lugarOrigen"></td>
                        <td v.text="portafolio.lugarDestino"></td>
                        <td v.number="portafolio.precio"></td>
                    </tr>
                </tbody>
            </table>

        </div>  
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "DetailPortafolio",

    data: function(){
        return {
            id: 0,
            lugarOrigen: "",
            lugarDestino: "",
            precio: 0,
        }
    },

    methods: {

        loadPortafolioCreate: function () {
			this.$router.push({ name: "portafolioCreate" });
		},

        processDetailPortafolio(){
            axios.get(
            "https://mtic-transp-be.herokuapp.com/portafolioInfo/",
            this.user,  
                {headers: {}}
                )
                .then((result) => {
                    let dataLogIn = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedLogIn', dataLogIn)
                })
                .catch((error) => {
                    
                    if (error.response.status == "401")
                        alert("ERROR 401: Credenciales Incorrectas.");
                    
                });
        }
    }
}
</script>

<style>
    .portafolio_detail{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_portafolio_detail {
        border: 3px solid  #283747;
        border-radius: 10px;
        width: 95%;
        height: 60%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .portafolio_detail h1{
        color: #283747;
    }

    .portafolio_detail caption {
        text-align: left;
        
    }

    .portafolio_detail table {
        width: 95%;
        border: 1px solid #283747;

    }

    .portafolio_detail th {
        width: 10%;
        text-align: center;
        padding: 0.3em;
        color: #283747;
    }

    .portafolio_detail button{
        width: 15%;
        height: 40px;

        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;
        float: left;

        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0;
        cursor: pointer;
    }

    .portafolio_detail button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }

</style>