<template>    
    <div class="reservacion_detail">
        <div class="container_reservacion_detail">
            <h1> Reservaciones </h1>
            <button v-on:click="loadReservacionCreate"> Nueva Reservación </button><br>
            <table>
                <caption> Peticiones en cola para programar distribución de los clientes: </caption>
                
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Documento</th>
                        <th>Solicitud del Portafolio</th>
                        <th>Placa del Vehículo</th>
                        <th>Fecha</th>
                        <th>No. Tiquetes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td v.number="reservacion.id"></td>
                        <td v.number="reservacion.user_id"></td>
                        <td v.number="reservacion.portafolio_id"></td>
                        <td v.number="reservacion.ruta_id"></td>
                        <td v.date="reservacion.fecha"></td>
                        <td v.number="reservacion.numeroTiquetes"></td>
                    </tr>
                </tbody>
            </table>

        </div>  
    </div>
</template>


<script>
import axios from 'axios';

export default {
    name: "Reservacion",

    data: function(){
        return {
            id: 0,
            fecha: "",
            numeroTiquetes: 0,
            user_id: 0,
            portafolio_id: 0,
            ruta_id: 0,
        }
    },

    methods: {

        loadReservacionCreate: function () {
			this.$router.push({ name: "reservacionCreate" });
		},

        getData: async function () {
            
            let token = localStorage.getItem("token_access");
            
            axios.get("https://mtic-transp-be.herokuapp.com/reservacionInfo/", {headers: {'Authorization': `Bearer ${token}`}})
                .then((result) => {
                    this.id = result.data.reservacion.id;
                    this.fecha = result.data.reservacion.fecha;
                    this.numeroTiquetes = result.data.reservacion.numeroTiquetes;	
                    this.user_id = result.data.reservacion.user_id;
                    this.portafolio_id = result.data.reservacion.portafolio_id;
                    this.ruta_id = result.data.reservacion.ruta_id;
                    })
        },

    },

    created: async function(){
        this.getData();
    },
}
</script>



<style>
    .reservacion_detail{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_reservacion_detail {
        border: 3px solid  #283747;
        border-radius: 10px;
        width: 95%;
        height: 60%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reservacion_detail h1{
        color: #283747;
    }

    .reservacion_detail caption {
        text-align: left;
        
    }

    .reservacion_detail table {
        width: 95%;
        border: 1px solid #283747;

    }

    .reservacion_detail th {
        width: 10%;
        text-align: center;
        padding: 0.3em;
        color: #283747;
    }

    .reservacion_detail button{
        width: 20%;
        height: 40px;

        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;
        float: left;

        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0;
        cursor: pointer;
    }

    .reservacion_detail button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }

</style>