<template>
    <div class="reservacion_create">
        
        <div class="container_reservacion_create">
            <h1>Registro de Reservación</h1>
            <form v-on:submit.prevent="processReservacion">

                <label for="Documento">Confirma el número de documento:</label>
                <input type="number" v-model="reservacion.user_id" maxlength="10" required><br>

                <label for="Portafolio">Oferta de viaje que le interesa:</label>
                <input type="number" v-model="reservacion.portafolio_id" required><br>

                <label for="Ruta">Número de ruta de interés:</label>
                <input type="number" v-model="reservacion.ruta_id" required><br>
        
                <label for="Fecha">Fecha:</label>
                <input type="date" v-model="reservacion.fecha" min="2021-10-24" max="2022-12-31" required><br>

                <label for="NTiquetes">Número de Tiquetes:</label>
                <input type="number" v-model="reservacion.numeroTiquetes" min="1" max="42" id="1" required><br>
               
                <button type="submit">Registrar</button>
                <button type="reset">Vaciar</button>

            </form>
        </div>
    </div>
</template>


<script>
    import axios from 'axios';
        export default{
            name : "reservacion",

            data: function(){
                return{
                    reservacion: {
                        user_id: 0, 
                        portafolio_id: 0, 
                        ruta_id: 0,
                        fecha: "",
                        numeroTiquetes: 0
                    },
                }
            },

            methods:{
                processReservacion :function(){
                   axios.post(
                    "https://mtic-transp-be.herokuapp.com/newReservacion/", 
                    this.reservacion,
                    {Headers:{}}
                   )
                   .then((result) =>{
                       let dataReservacion={
                           user_id: this.reservacion.user_id, 
                           portafolio_id: this.reservacion.portafolio_id, 
                           ruta_id: this.reservacion.ruta_id,
                           fecha: this.reservacion.fecha,
                           numeroTiquetes: this.reservacion.numeroTiquetes,
                       }
                       this.$emit('completedReservacion', dataReservacion)
                    })
                        alert("Registro Completado");
                    
                }
            }

        }
</script>


<style>

   .reservacion_create{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_reservacion_create {
        border: 3px solid #283747;
        border-radius: 10px;
        width: 55%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .reservacion_create h1{
        color: #283747;
     }

    .reservacion_create form{
        width: 60%;
    }

    .reservacion_create input[type=text]{
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #283747;
    }

    .reservacion_create input[type=number]{
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #283747;
    }
    
    .reservacion_create input[type=date]{
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #283747;
    }
    .reservacion_create button{
        width: 50%;
        height: 40px;
        color: #E5E7E9;
        background: #283747;
        border: 2px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
        
    }
    .reservacion_create button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }
</style>