<template>
    <div class="ruta_create">
        
        <div class="container_ruta_create">
            <h1>Registro de Rutas</h1>
            <form v-on:submit.prevent="processRuta">

                <label for="Placa">Placa: </label>
                <input type="text" v-model="ruta.vehiculo_id" id="Placa" placeholder="Placa"><br>
                
                <label for="hora">Hora:  </label><br>
                <input type="time" v-model="ruta.hora" id="hora"><br>

                <label for="cargo">Precio: </label>
                <input type="number" v-model="ruta.cargoVehiculo" id="cargo" placeholder="Cargo vehiculo"><br><br>
                               
                <button type="submit">Registrar</button>
                <button type="reset">Vaciar</button>

            </form>
        </div>
    </div>
</template>


<script>
    import axios from 'axios';
    export default {
        name:"ruta",

        data : function(){
            return{
                ruta:{
                    id: 0,
                    vehiculo_id: "",
                    hora: "",
                    cargoVehiculo:"",
                },
            }
        },

        methods:{
            processRuta: function(){
                axios.post(
                    "https://mtic-transp-be.herokuapp.com/newRuta/",
                    this.ruta,
                    {Headers:{}}
                )
                .then((result) => {
                    let dataRuta={
                        id: this.ruta.id,
                        vehiculo_id: this.ruta.vehiculo_id,
                        hora: this.ruta.hora,
                        cargoVehiculo: this.ruta.cargoVehiculo,
                    }
                    this.$emit('completedRuta', dataRuta)
                })
                    alert("Registro Completado");
            }
        }
    }
</script>


<style>

   .ruta_create{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_ruta_create {
        border: 3px solid #283747;
        border-radius: 10px;
        width: 50%;
        height: 52%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ruta_create h1{
        color: #283747;
     }

    .ruta_create form{
        width: 60%;
    }

    .ruta_create input[type=text]{
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #283747;
    }

    .ruta_create input[type=number]{
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #283747;
    }

    .ruta_create input[type=time]{
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #283747;
    }
    
    .ruta_create button{
        width: 50%;
        height: 40px;
        color: #E5E7E9;
        background: #283747;
        border: 2px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
        
    }
    .ruta_create button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }
</style>