<template>    
    <div class="ruta_detail">
        <div class="container_ruta_detail">
            <h1> Rutas Disponibles </h1>
            <button v-on:click="loadRutaCreate"> Nueva Ruta </button><br>
            <table>
                <caption> Rutas disponibles para ofrecer a los clientes: </caption>
                
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Vehículo</th>
                        <th>Ruta</th>
                        <th>Fecha</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="(ruta, Rutas) in ruta" :key="Rutas">
                        <td v.number="ruta.id"></td>
                        <td v.text="ruta.vehiculo_id"></td>
                        <td v.date="ruta.hora"></td>
                        <td v.number="ruta.cargoVehiculo"></td>
                    </tr>
                </tbody>

            </table>
        </div>  
    </div>
</template>


<script>
import axios from 'axios';

export default {
    name: "ruta",

    data: function(){
        return {
            id: 0,
            vehiculo_id: "",
            hora: "",
            cargoVehiculo: 0,
        }
    },

    methods: {

        loadRutaCreate: function () {
			this.$router.push({ name: "rutaCreate" });
		},

        processDetailRuta(){
            axios.get(
            "https://mtic-transp-be.herokuapp.com/rutaInfo/",
            this.user,  
                {headers: {}}
                )
                .then((result) => {
                    let dataLogIn = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedLogIn', dataLogIn)
                })
                .catch((error) => {
                    
                    if (error.response.status == "401")
                        alert("ERROR 401: Credenciales Incorrectas.");
                    
                });
        }
    }
}
</script>


<style>
    .ruta_detail{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_ruta_detail {
        border: 3px solid  #283747;
        border-radius: 10px;
        width: 95%;
        height: 60%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ruta_detail h1{
        color: #283747;
    }

    .ruta_detail caption {
        text-align: left;
        
    }

    .ruta_detail table {
        width: 95%;
        border: 1px solid #283747;

    }

    .ruta_detail th {
        width: 10%;
        text-align: center;
        padding: 0.3em;
        color: #283747;
    }

    .ruta_detail button{
        width: 15%;
        height: 40px;

        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;
        float: left;

        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0;
        cursor: pointer;
    }

    .ruta_detail button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }

</style>