<template>

    <div class="signUp_user">
        <div class="container_signUp_user">
            <h2>Registro</h2>

            <form v-on:submit.prevent="processSignUp" >

                <label for="Documento">Número de Documento:</label>
                <input type="number" v-model="user.id" placeholder="Documento" required><br>

                <input type="text" v-model="user.username" placeholder="Username" required><br>
                
                <input type="password" v-model="user.password" placeholder="Password" required><br>
                
                <input type="text" v-model="user.firstName" placeholder="Nombres" required><br>

                <input type="text" v-model="user.lastName" placeholder="Apellidos" required><br>
                
                <input type="text" v-model="user.telefono" placeholder="Celular"><br>

                <input type="email" v-model="user.email" placeholder="Correo electrónico" required><br><br>
 
                <!-- <input type="number" v-model="user.account.cantidadCompras" placeholder="Initial Buy"><br> -->

                <button type="submit">Crea tú cuenta</button>
            </form>
        </div>

    </div>

</template>




<script>
import axios from 'axios';

export default {
    name: "SignUp",

    data: function(){
        return {
            user: {
                id: 0,  
                username: "",
                password: "",
                firstName: "",
                lastName: "",
                telefono: "",
                email: "",
                account: {
                    lastChangeDate: (new Date()).toJSON().toString(),
                    cantidadCompras: 0,
                    isActive: true
                }
            }
        }
    },

    methods: {
        processSignUp: function(){
            axios.post(
                "https://mtic-transp-be.herokuapp.com/user/", 
                this.user,  
                {headers: {}}
            )
                .then((result) => {
                    let dataSignUp = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedSignUp', dataSignUp)
                })
                .catch((error) => {
                    console.log(error)
                    alert("Error en el resgistro.");
                    
                    
                });
        }
    }
}
</script>






<style>

    .signUp_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_signUp_user {
        border: 3px solid  #283747;
        border-radius: 10px;
        width: 40%;
        height: 68%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signUp_user h2{
        color: #283747;

    }

    .signUp_user p{
        color: #0e0d0d;

    }

    .signUp_user form{
        width: 60%;
        
    }

    .signUp_user input{
        height: 40px;
        width: 100%;

        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;

        border: 1px solid #283747;
    }

    .signUp_user button{
        width: 100%;
        height: 40px;

        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;

        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
        cursor: pointer;
    }

    .signUp_user button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }

</style>