<template>    
    <div class="vehiculo_detail">
        <div class="container_vehiculo_detail">
            <h1> Buses en el Sistema </h1>
            <button v-on:click="loadVehiculoCreate"> Nuevo Vehículo </button><br>
            <table>
                <caption> Buses activos de la flota de transporte: </caption>
                
                <thead>
                    <tr>
                        <th>Placa</th>
                        <th>Capacidad de Pasajeros</th>
                        <th>Baño</th>
                        <th>Aire Acondicionado</th>
                        <th>Tv Ambiental</th>
                        <th>Pantalla Individual</th>
                        <th>WIFI</th>
                        <th>Toma Corriente</th>
                        <th>Acceso para Discapacitados</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(vehiculo, Vehiculos) in vehiculos" :key="Vehiculos">
                        <td v.text="vehiculo.id"></td>
                        <td v.text="vehiculo.capacidad"></td>
                        <td v.text="vehiculo.servicioBanio"></td>
                        <td v.text="vehiculo.servicioAireAcondicionado"></td>
                        <td v.text="vehiculo.servicioTvAmbiental"></td>
                        <td v.text="vehiculo.servicioPantallaIndivdual"></td>
                        <td v.text="vehiculo.servicioWifi"></td>
                        <td v.text="vehiculo.servicioTomaCorriente"></td>
                        <td v.text="vehiculo.accesoDiscapacitados"></td>
                    </tr>
                </tbody>
            </table>

        </div>  
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "DetailVehiculo",

    data: function(){
        return {
            id: "",
            capacidad: 0,
            servicioBanio: true,
            servicioAireAcondicionado: true,
            servicioTvAmbiental: true, 
            servicioPantallaIndivdual: true,
            servicioWifi: true, 
            servicioTomaCorriente: true, 
            accesoDiscapacitados: true, 
        }
    },

    methods: {

        loadVehiculoCreate: function () {
			this.$router.push({ name: "vehiculoCreate" });
		},

        processDetailVehiculo(){
            axios.get(
            "https://mtic-transp-be.herokuapp.com/vehiculoInfo/",
            this.user,  
                {headers: {}}
                )
                .then((result) => {
                    let dataLogIn = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedLogIn', dataLogIn)
                })
                .catch((error) => {
                    
                    if (error.response.status == "401")
                        alert("ERROR 401: Credenciales Incorrectas.");
                    
                });
        }
    }
}
</script>

<style>
    .vehiculo_detail{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_vehiculo_detail {
        border: 3px solid  #283747;
        border-radius: 10px;
        width: 95%;
        height: 60%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .vehiculo_detail h1{
        color: #283747;
    }

    .vehiculo_detail caption {
        text-align: left;
        
    }

    .vehiculo_detail table {
        width: 95%;
        border: 1px solid #283747;

    }

    .vehiculo_detail th {
        width: 10%;
        text-align: center;
        padding: 0.3em;
        color: #283747;
    }

    .vehiculo_detail button{
        width: 15%;
        height: 40px;

        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;
        float: left;

        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0;
        cursor: pointer;
    }

    .vehiculo_detail button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }

</style>