<template>
    <div class="vehiculo_create">
        
        <div class="container_vehiculo_create">
            <h1>Registro de Vehículos</h1>
            <form v-on:submit.prevent="processVehiculo">

                <label for="ServicioBaño">Número de placa del vehículo:</label><br>
                <input type="text" v-model="vehiculo.id" placeholder="Placa"><br>
                
                <label for="ServicioBaño">Número de sillas para pasajeros:</label><br>
                <input type="number"  v-model="vehiculo.capacidad"  placeholder="capacidad" min="38" max="42"><br><hr>

                <input type="checkbox" id="ServicioBaño" v-model="vehiculo.servicioBanio">
                <label for="ServicioBaño">{{ checked }} Servicio de Baño.</label><br>
               
                <input type="checkbox" id="ServicioAireAcondicionado" v-model="vehiculo.servicioAireAcondicionado">
                <label for="ServicioAireAcondicionado">{{ checked }} Servicio de Aire Acondicionado.</label><br>
                
                <input type="checkbox" id="ServicioTVAmbiental" v-model="vehiculo.servicioTvAmbiental">
                <label for="ServicioTVAmbiental">{{ checked }} Servicio de Tv Ambiental.</label><br>
               
                <input type="checkbox"  id="ServicioPantallaIndividual" v-model="vehiculo.servicioPantallaIndivdual">
                <label for="ServicioPantallaIndividual">{{ checked }} Servicio de Pantalla Individual.</label><br>
               
                <input type="checkbox" id="ServicioWIFI" v-model="vehiculo.servicioWifi">
                <label for="ServicioWIFI">{{ checked }} Servicio de WIFI.</label><br>
                
                <input type="checkbox" id="ServicioTomaCorriente" v-model="vehiculo.servicioTomaCorriente">
                <label for="ServicioTomaCorriente">{{ checked }} Servicio de Toma Corriente.</label><br>
               
                <input type="checkbox" id="AccesoDiscapacitados" v-model="vehiculo.accesoDiscapacitados">
                <label for="AccesoDiscapacitados">{{ checked }} Acceso Discapacitados.</label><br><br>
               
                <button type="submit">Registrar</button>
                <button type="reset">Vaciar</button>

            </form>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
        export default{
            name : "vehiculo",

            data: function(){
                return{
                    vehiculo: {
                        id:"",
                        capacidad:"",
                        servicioBanio: true,
                        servicioAireAcondicionado: true,
                        servicioTvAmbiental: true,
                        servicioPantallaIndivdual: false,
                        servicioWifi: false,
                        servicioTomaCorriente: false,
                        accesoDiscapacitados:false
                    },
                }
            },

            methods:{
                processVehiculo :function(){
                   axios.post(
                    "https://mtic-transp-be.herokuapp.com/newVehiculo/", 
                    this.vehiculo,
                    {Headers:{}}
                   )
                   .then((result) =>{
                       let dataVehiculos={
                           id : this.vehiculo.id,
                           capacidad: this.vehiculo.capacidad,
                           servicioBanio : this.vehiculo.servicioBanio,
                           servicioAireAcondicionado: this.vehiculo.servicioAireAcondicionado,
                           servicioTvAmbiental: this.vehiculo.servicioTvAmbiental,
                           servicioPantallaIndivdual: this.vehiculo.servicioPantallaIndivdual,
                           servicioWifi: this.vehiculo.servicioWifi,
                           servicioTomaCorriente: this.vehiculo.servicioTomaCorriente,
                           accesoDiscapacitados: this.vehiculo.accesoDiscapacitados,
                       }
                       this.$emit('completedVehiculo', dataVehiculos)
                    })
                        alert("Registro Completado");
                    
                }
            }

        }
</script>
<style>

   .vehiculo_create{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_vehiculo_create {
        border: 3px solid #283747;
        border-radius: 10px;
        width: 45%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .vehiculo_create h1{
        color: #283747;
     }
    .vehiculo_create form{
        width: 60%;
    }
    .vehiculo_create input[type=text]{
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #283747;
    }

    .vehiculo_create input[type=number]{
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #283747;
    }
    
    .vehiculo_create button{
        width: 50%;
        height: 40px;
        color: #E5E7E9;
        background: #283747;
        border: 2px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
        
    }
    .vehiculo_create button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }
</style>